@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500&display=swap');
// colors
$c-gr: #eee;
$c-wh: #fff;
$c-dr: #333;
$c-1: rgb(209, 92, 92);
// fonts
$f-ppal: 'Red Hat Mono'