@import 'assets/scss/_reset';
@import 'assets/scss/_variables';
@import 'assets/scss/components/forms';

*{
    box-sizing: border-box;
}

html,
body,
#root,
.App{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App{
    background-color: $c-gr;
    display: flex;
    align-items: center;
    justify-content: center;
}